body {
    padding-top: 70px;
    padding-bottom: 30px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    background-color: #f5f5f5;
    color: #000;
}

h1 {
    color: #39433b;
    text-align: center;
    margin-bottom: 25px;
}

@media only screen and (min-width : 320px) {
    h1 {
        font-size: 24px;
    }
}

@media only screen and (min-width : 768px) {
    h1 {
        font-size: 48px;
    }
}

.rsvp-title {
    margin-bottom: 10px;
}

.rsvp-about {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 14px;
    text-align: center;
}

.reg-about {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 17px;
    text-align: center;
}

.about-address {
    text-align: center;
    font-size: 16px;
}

/*.about-address-left {
    border-right: 1px solid #000;
}*/

.about-address-right {
    margin-top: 25px;
}

@media only screen and (min-width : 768px) {
    .about-address-right {
        margin-top: 0px;
    }
}

.about-venue {
    text-align: center;
    width: 50%;
    margin: 20px auto 0 auto;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 17px;
}

@media only screen and (min-width : 320px) {
    .about-venue {
        width: 90%;
        font-size: 14px;
    }
}

@media only screen and (min-width : 768px) {
    .about-venue {
        width: 75%;
        font-size: 17px;
    }
}

@media only screen and (min-width : 992px) {
    .about-venue {
        width: 60%;
        font-size: 17px;
    }
}

.lodging-address {
    margin-top: 40px;
}

.btn {
    border-radius: 0;
}

.btn-default {
    background-color: #758978;
    color: #fff;
}

.form-control {
  border-radius: 0;
}

.footer {
    width: 100%;
    margin-top: 20px;
}

.footer > .container {
    padding-left: 15px;
    padding-right: 15px;
}

.container .text-muted {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 12px;
    margin: 20px 0;
}

.navbar-inverse {
    background-image: none;
    background-color: #758978;
    border-color: #758978;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-inverse .navbar-nav > li > a {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 14px;
    color: #fff;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    color: #fff;
    background-color: #6a7c6c;
    background-image: none;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .open > a {
    box-shadow: none;
}

.home-large {
    font-size: 32px;
    padding-top: 30px;
}

@media only screen and (min-width : 480px) {
    .home-large {
        font-size: 42px;
    }
}

@media only screen and (min-width : 768px) {
    .home-large {
        font-size: 42px;
        padding-top: 25%;
    }
}

@media only screen and (min-width : 992px) {
    .home-large {
        font-size: 62px;
    }
}

.home-date {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 25px;
}

.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}

.theme-showcase .navbar .container {
    width: auto;
}
