body {
    padding-top: 70px;
    padding-bottom: 30px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    background-color: #f5f5f5;
}
}

.footer {
    background-color: #fff;
    width: 100%;
}

.footer > .container {
    padding-left: 15px;
    padding-right: 15px;
}

.container .text-muted {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 12px;
    margin: 20px 0;
}

.navbar-inverse {
    background-image: none;
    background-color: #758978;
    border-color: #758978;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-inverse .navbar-nav > li > a {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 14px;
    color: #fff;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    color: #fff;
    background-color: #6a7c6c;
    background-image: none;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .open > a {
    box-shadow: none;
}


.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}

.theme-showcase .navbar .container {
    width: auto;
}
